*dsYM
.vscode
*bin
*obj
*.exe
*.dll
*.so
*.dylib
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.vscode
*.idea
*.vs
*.vscode
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.ncb
*.sdf
*.opensdf
*.cache
*.pdb
*.ipch
*.aps
*.pch
*.res           
*.obj
*.log
*.vspscc
*.vssscc